.ea-dropdown {}

.ea-dropdown__button {
  display: flex;
  padding: 1em;
  position: relative;
}

.ea-dropdown__list {
  background-color: white;
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 3.85em;
}

.ea-dropdown__list-item {
  padding: 0;
}

.ea-dropdown__link {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* TODO */
.ea-dropdown__link:visited {}
.ea-dropdown__link:hover {
  background-color: lightblue;
}
.ea-dropdown__link:focus {}
.ea-dropdown__link:active {}