{{page-title 'Dummy'}}
<EaHeaderDemo />
<main id="main">
  {{outlet}}
</main>
<footer>
  <p>
    <small>
      Visit this addon's
      <a href="https://github.com/MelSumner/ember-a11y-dropdown">
        GitHub Repo
      </a>
      to file issues.
    </small>
  </p>
</footer>